/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
	background-color: #fff;
}
.table-title {
	font-size: 12px;
	font-weight: bold;
	color: #333;
	background-color: #FAFAFA;

}

.divTableCell {
	padding: 10px 8px;
}
.table-title .divTableCell {
border-bottom: 1px solid #ddd;

}

.divTableRow .divTableCell:nth-child(2) {
	max-width: 100px;
}
.divTableRow .divTableCell:nth-child(3) {
	max-width: 200px;
}

.table-content {
	font-size: 14px;
	color: #333;
	background-color: #FAFAFA;
}
.table-content:nth-child(even) {
	background-color: #fff;
}
.divTableRow {
	display: table-row;

}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

body {
	background-color: #ecf0f5;
	font-family: arial;
}
.id {
	font-size: 12px;
	color: #999;
	display: inline;
}
.bold-text {
	font-weight: bold;
	display: inline;
}
a {
	text-decoration: none;
	color: #009FE0;
}

.red {
	color: #E24C4D;
}

.yellow {
	color: #F6B621;
}

.blue {
	color: #55BB59;
}
br {margin-top: 10px;}